.logo-s {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#main-frame > div >div >h2 {
    font: Gothic;
    font-size: 40px;
    color: #000000;
    text-align: center;
}

#main-frame > div >div >h4 {
    font: Gothic;
    font-size: 20px;
    color: #000000;
    text-align: center;
}

#main-frame > div >div >h5 {
    font: Gothic;
    font-size: 16px;
    color: #B0AAA9;
    text-align: center;
}

.main-frame {
    height: 50rem;
    width: 100%;
    background-color: white;
    text-align: center;
    overflow-y: auto;
}

.summary {
    /* width: ; */
    background-color: #f9f7e8;
    vertical-align: middle;
    padding:15px;
}

.tempToastSize{
    height:240px;
    width:100%;
}

.frame{
  width:50%;
  margin-left:auto; 
  margin-right:auto;
}

.CustomToolbar {
    display: block;
    position: sticky;
    top: 100px;
    height: 200px;
    margin-left: 800px;
    z-index: 3;
}

#toolbar {
    display: table;
    height: 100px;
    width: 1px;
}

.tool-item {
    display: table-cell;
    vertical-align: middle;
    margin: 15px;
}